<div class="flex justify-between max-w-4xl items-center mb-3">
    <ft-button class="bg-primary text-white sm:block w-8 text-sm" (click)="previousMonth()">
        <fa-icon [icon]="faChevronLeft"></fa-icon>
    </ft-button>
    <div class="text-lg text-primary">
        {{jsDate | date : "MMMM Y"}}
    </div>
    <ft-button class="bg-primary text-white sm:block w-8 text-sm" (click)="nextMonth()">
        <fa-icon [icon]="faChevronRight"></fa-icon>
    </ft-button>
</div>
<div class="grid grid-cols-7 grid-rows-[7] gap-2 max-w-4xl">
    <ft-calendar-header-tile>Mon</ft-calendar-header-tile>
    <ft-calendar-header-tile>Tue</ft-calendar-header-tile>
    <ft-calendar-header-tile>Wed</ft-calendar-header-tile>
    <ft-calendar-header-tile>Th</ft-calendar-header-tile>
    <ft-calendar-header-tile>Fr</ft-calendar-header-tile>
    <ft-calendar-header-tile>Sa</ft-calendar-header-tile>
    <ft-calendar-header-tile>Su</ft-calendar-header-tile>

    <ft-calendar-tile *ngFor="let day of days$ | async"
        [state]="day.state" (click)="toggleTraining(day)">
        {{day.day}}
    </ft-calendar-tile>
</div>