<div class="w-20 flex flex-col">
    <div class="flex justify-between bg-primary text-white dark:text-black">
        <button class="border-r border-white dark:border-black w-10 h-10" (click)="increaseByStep()">+</button>
        <button class="border-l border-white dark:border-black  w-10 h-10" (click)="increaseByBigStep()">+1</button>
    </div>

    <div class="flex flex-col justify-center">
        <input class="h-8 w-full text-center border-b border-black dark:border-white bg-white dark:bg-black dark:text-white" type="number" [value]="value" [min]="min" [max]="max" 
            readonly inputmode="decimal"> 
        <div class="w-full h-7 text-center">{{label}}</div>
    </div>

    <div class="flex justify-between bg-primary text-white dark:text-black">
        <button class="border-r border-white dark:border-black  w-10 h-10" (click)="decreaseByStep()">-</button>
        <button class="border-l border-white dark:border-black  w-10 h-10" (click)="decreaseByBigStep()">-1</button>
    </div>
</div>