<ft-modal id="testModal">
    <div header>
        <h3 class="text-lg font-medium leading-6 text-gray-900" id="modal-title">
            Deactivate account
        </h3>
    </div>
    <div content>
        <p class="text-sm text-gray-500">Are you sure you want to deactivate your account? All of your data will be
            permanently removed. This action cannot be undone.</p>
    </div>
    <div footer>
        <div class="sm:flex sm:flex-row-reverse sm:px-6">
            <ft-button class="bg-primary text-white ml-2 sm:w-24" (click)="save()">Save</ft-button>
            <ft-button class="bg-white text-black sm:border sm:border-black sm:w-24" (click)="cancel()">Cancel</ft-button>
        </div>
    </div>
</ft-modal>

<div class="sm:flex sm:items-center sm:justify-between sm:pt-2">
    <h1 class="text-2xl mb-2 sm:mb-0">
        Dashboard
    </h1>
    <ft-button class="bg-primary text-white sm:block sm:w-40" (click)="todo()">Add+</ft-button>
</div>
<!--  w-24 block -->
<div class="
            w-full flex flex-col mt-2
            sm:flex-row
            ">
    <ft-data-tile class="bg-primary" data="82.2 kg" [icon]="faWeightScale">Weight</ft-data-tile>
    <ft-data-tile class="bg-green" data="34.20 kg (41.60%)" [icon]="faWeightHanging">Muscle</ft-data-tile>
    <ft-data-tile class="bg-red" data="11.10 kg (13.50%)" [icon]="faCookie">Fat</ft-data-tile>
</div>
<div>
    <form [formGroup]="exampleForm">
        <ft-number-picker formControlName="weight" label="Weight"></ft-number-picker>
    </form>
    <div *ngIf="tmp$ | async as tmp">
        {{tmp | json}}
    </div>
</div>
<h1>Notifications</h1>
<div *ngIf="notifications$ | async as x">{{x.userName}}</div>
